/*
min-width and max-widht breakpoint mixins definition
    $break-value : min/max value for which the mixin will be applie in em
*/
/*
Media Query Manager using a mobile-first approach
Media queries defined in rem and px can have some bugs on Safari. It's why we use em units in media queries since it works every where
1em : 16px => default browser font-size, which is not relative
A media query isn't affected by the change of the user's font-size
Normal CSS without media queries begins to apply for phone
$breakpoint values :
    - tab-port (min-width: 600px, i.e. 37.5em)
    - tab-land (min-width : 900px, i.e. 56.25em)
    - laptop (min-width : 1200px, i.e. 75em)
    - desk-comp (min-width: 1800px, i.e. 112.5em)
*/
* {
  box-sizing: inherit;
}
*::after, *::before {
  box-sizing: inherit;
}

.title {
  font-family: "Shrikhand", cursive !important;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.u-center-text {
  text-align: center !important;
}

.u-padding {
  padding: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 0.75rem !important;
}

.btn {
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(3px);
  box-shadow: none;
}

.section-title {
  font-weight: 900;
}

.header {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
.header__index-link {
  display: inline-block;
  padding: 1rem;
  position: absolute;
  left: 2.5%;
}
@media only screen and (max-width: 17.2em) {
  .header__index-link {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__index-link-placeholder {
  display: inline-block;
  padding: 1rem;
}

.section-search {
  background-color: #f6f6f6;
}
.section-search__input {
  background-color: #eaeaea;
  color: #353535;
}
.section-search__input-field {
  border: none;
  background-color: #eaeaea;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}
.section-search__input-field:focus {
  outline: none;
}
.section-search__input-field::placeholder {
  color: #353535;
}
.section-search__input-field:focus::placeholder {
  color: #f6f6f6;
}
.section-search__description {
  width: 70%;
  margin: 0 auto;
}
.section-search__title {
  font-weight: 900;
}
.section-search__text {
  font-weight: 100;
}

.section-infos__list {
  margin: 0;
  padding: 0 1rem;
  list-style-type: none;
  counter-reset: list-number;
}
.section-infos__list-item {
  position: relative;
  padding: 2rem 4rem;
  background-color: #f6f6f6;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
  font-weight: 600;
}
.section-infos__list-item:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.section-infos__list-item:hover::after {
  opacity: 1;
}
.section-infos__list-item:hover i {
  color: #9356dc;
}
.section-infos__list-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  background-color: rgba(147, 86, 220, 0.2);
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
}
.section-infos__list-item::before {
  counter-increment: list-number;
  content: counter(list-number);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  color: #fff;
  position: absolute;
  left: -1rem;
  top: 25%;
  background-color: #9356dc;
  border-radius: 50%;
}
.section-infos__list-item i {
  margin-right: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
