* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", cursive;
}

@import "partials/header";
@import "partials/footer";
@import "partials/global";
@import "partials/main";
@import "partials/menu";
