.section-search {
  background-color: $color-grey-light;
  &__input {
    background-color: $color-grey-dark;
    color: $color-black-2;
  }
  &__form {
    @include respond(tab-port) {
      font-size: 3vw;
    }
  }
  &__input-field {
    border: none;
    background-color: $color-grey-dark;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    @include respond(tab-port) {
      font-size: 5vw;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-black-2;
    }
    &:focus::placeholder {
      color: $color-grey-light;
    }
  }
  &__description {
    width: 70%;
    margin: 0 auto;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &__title {
    font-weight: 900;
  }
  &__text {
    font-weight: 100;
  }
}

.section-infos {
  &__list {
    margin: 0;
    padding: 0 1rem;
    list-style-type: none;
    counter-reset: list-number;
    @include respond(tab-land) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  &__list-item {
    position: relative;
    padding: 2rem 2.5rem;
    background-color: $color-grey-light;
    border-radius: 1.4rem;
    box-shadow: 0 0.3rem 0.3rem rgba($color-black-1, 0.2);
    transition: all 0.6s;
    font-weight: 600;
    font-size: 1.7rem;
    @include respondMax(26.7) {
      padding: 2rem 0.4rem;
      text-align: center;
    }
    @include respondMax(35.4) {
      font-size: 1.5rem;
    }
    @include respondMax(32.7) {
      font-size: 1.4rem;
    }
    @include respondMax(31.5) {
      font-size: 1.2rem;
    }
    @include respondMax(29.2) {
      font-size: 1rem;
    }
    @include respond(tab-port) {
      padding: 4vw 8vw;
    }
    @include respond(tab-land) {
      max-width: 100%;
      font-size: 1rem;
      padding: 2rem 0.3rem;
      text-align: center;
      width: 31%;
    }
    &:hover {
      transform: translateY(3px);
      box-shadow: none;
      &::after {
        opacity: 1;
      }
      i {
        color: $color-primary;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 1.4rem;
      background-color: rgba($color-primary, 0.2);
      opacity: 0;
      z-index: -1;
      transition: all 0.6s;
    }
    &::before {
      counter-increment: list-number;
      content: counter(list-number);
      display: inline-block;
      width: 3rem;
      height: 3rem;
      text-align: center;
      padding-top: 0.5rem;
      color: $color-white;
      position: absolute;
      left: -1.5rem;
      top: 27%;
      background-color: $color-primary;
      border-radius: 50%;
      @include respondMax(26.7) {
        width: 2rem;
        height: 2rem;
        top: 30%;
        left: -1rem;
      }
      @include respond(tab-land) {
        font-size: 1.5rem;
        top: -27%;
        left: 40%;
      }
    }
    i {
      margin-right: 2.5rem;
      @include respondMax(26.7) {
        margin-right: 0.5rem;
      }
      @include respond(tab-port) {
        font-size: 5vw;
        margin-right: 5vw;
        @include respondMax(44.5) {
          font-size: 4.5vw;
        }
      }
      @include respond(tab-land) {
        font-size: 1.6vw;
        margin-right: 1vw;
      }
    }
    span {
      @include respond(tab-port) {
        font-size: 5vw;
        @include respondMax(44.5) {
          font-size: 4.5vw;
        }
      }
      @include respond(tab-land) {
        font-size: 1.9vw;
      }
    }
  }
  &__list-item-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.section-restaurants {
  background-color: $color-grey-light;
  &__content {
    position: relative;
    @include respond(tab-land) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}
