.section-search {
  background-color: $color-grey-light;
  &__input {
    background-color: $color-grey-dark;
    color: $color-black-2;
  }
  &__input-field {
    border: none;
    background-color: $color-grey-dark;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-black-2;
    }
    &:focus::placeholder {
      color: $color-grey-light;
    }
  }
  &__description {
    width: 70%;
    margin: 0 auto;
  }
  &__text {
    font-weight: 100;
  }
}
