.header {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  box-shadow: 0 0 0.5rem rgba($color-black-1, 0.4);
  position: relative;
  z-index: 1;
  &__index-link {
    display: inline-block;
    padding: 1rem;
    position: absolute;
    left: 2.5%;
    @include respondMax(17.2) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__index-link-placeholder {
    display: inline-block;
    padding: 1rem;
  }
}
