.btn {
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  color: $color-white;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(180deg, $color-secondary, $color-primary);
  box-shadow: 0 0.3rem 0.3rem rgba($color-black-1, 0.2);
  transition: all 0.2s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 0.6rem rgba($color-black-1, 0.2);
  }
  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}
