.btn {
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  color: $color-white;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(180deg, $color-secondary, $color-primary);
  box-shadow: 0 0.3rem 0.3rem rgba($color-black-1, 0.2);
  transition: all 0.2s;
  opacity: 1;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 0.6rem rgba($color-black-1, 0.2);
    &::after {
      opacity: 1;
    }
  }
  &:active {
    transform: translateY(3px);
    box-shadow: none;
    &::after {
      opacity: 1;
    }
  }
  &--submit-menu {
    padding: 1rem 3.5rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3rem;
    background-image: linear-gradient(
      180deg,
      lighten($color-secondary, 5%),
      lighten($color-primary, 5%)
    );
    opacity: 0;
    z-index: -1;
    transition: all 0.2s;
  }
  @include respond(tab-port) {
    font-size: 3vw;
  }
}
