.item {
  position: relative;
  transition: all 0.5s;
  &:link,
  &:visited {
    border-radius: 2rem;
    text-decoration: none;
    color: $color-black-1;
    @include respond(tab-land) {
      display: inline-block;
      width: 47%;
    }
    @include respond(desk-comp) {
      width: 23%;
    }
  }
  &:hover,
  &:hover &__description,
  &:active,
  &:active &__description {
    color: $color-primary;
    transform: translateY(3px);
    box-shadow: none;
  }
  &:hover &__img,
  &:active &__img {
    filter: grayscale(1);
    transform: translateY(3px);
  }
  &__img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    object-position: center 60%;
    border-radius: 2rem 2rem 0 0;
    transition: all 0.5s;
    @include respond(tab-land) {
      width: 100%;
      height: 25vw;
    }
  }
  &__description {
    background-color: $color-white;
    margin-top: -2rem;
    padding: 0.2% 5%;
    border-radius: 0 0 2rem 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    @include respond(tab-land) {
      width: 100%;
    }
  }
  &__description-title {
    margin: 0;
    margin-top: 1.1rem;
    margin-bottom: 0.5rem;
  }
  &__description-text {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  &__description-like {
    position: absolute;
    top: 37%;
    right: 6%;
  }
  &__new {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    display: inline-block;
    padding: 0.5rem 1.3rem;
    border-radius: 0.1rem;
    position: absolute;
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 100;
    right: 5vw;
    @include respond(tab-land) {
      right: 51vw;
    }
    &--1 {
      top: 3%;
      @include respond(tab-land) {
        top: 2%;
      }
      @include respond(desk-comp) {
        top: 3%;
        right: 73vw;
      }
    }
    &--2 {
      top: 54%;
      @include respond(tab-land) {
        top: 53%;
      }
      @include respond(desk-comp) {
        top: 3%;
        right: 49vw;
      }
    }
  }
}
