.menu-like {
  font-size: 1.8rem;
  transition: all 2.5s;
  &:link,
  &:visited {
    border-radius: 2rem;
    text-decoration: none;
    color: $color-black-1;
  }
  &:hover,
  &:active {
    color: transparent;
    font-weight: 900;
    background-image: linear-gradient(180deg, $color-secondary, $color-primary);
    -webkit-background-clip: text;
  }
}
