* {
  box-sizing: inherit;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

.title {
  font-family: "Shrikhand", cursive !important;
}

html {
  font-size: 100%; //1rem : 16px
  @include respond(tab-port) {
    font-size: 120%;
  }
  @include respond(tab-land) {
    font-size: 140%;
  }
  @include respond(laptop) {
    font-size: 160%;
  }
  @include respond(desk-comp) {
    font-size: 180%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
